:root {
  --color-primary: darkslategrey;
  --color-secondary: mediumaquamarine;
  --color-background-primary: white;
  --color-background-secondary: lightgrey;
  --color-text-primary: black;
  --color-text-secondary: grey;
  --color-text-opposite: white;
}
