:root {
  --color-primary: #2a23b2;
  --color-secondary: #534af0;
  --color-background: #ffffff;
  --color-background-secondary: #f7f7f7;
  --color-text: #222222;
  --color-text-secondary: #9c9c9c;
  --color-text-opposite: #ffffff;
}
